# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
tus-vra-uploader
tus-vra-uploader-darwin
tus-vra-uploader.exe

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/
